<div class="header_row1">
    <div class="header_row_children">
        <span class="icon-spacing glyphicon glyphicon-menu-hamburger" aria-hidden="true" ng-click="toggleLeft()"></span>
        <span class="icon-spacing glyphicon glyphicon-option-horizontal" aria-hidden="true"><div class="text">Category</div></span>
        <span class="icon-spacing glyphicon glyphicon glyphicon-user" aria-hidden="true"><div class="text">Account</div></span>
        <span class="icon-spacing glyphicon glyphicon-play-circle" aria-hidden="true"><div class="text">Playlist</div></span>
        <span class="icon-spacing glyphicon glyphicon-globe" aria-hidden="true"><div class="text">Pages</div></span>
        <span class="icon-spacing glyphicon glyphicon-shopping-cart" aria-hidden="true"><div class="text">Shop</div></span>
        <span class="icon-spacing glyphicon glyphicon-cog" aria-hidden="true"><div class="text">Settings</div></span>
        <span class="icon-spacing glyphicon glyphicon-tint" aria-hidden="true"><div class="text">Donation</div></span>
    </div>
</div>