<div class="header_row2">
    <div class="header_row_children">
        <span class="icon-spacing glyphicon glyphicon-envelope" aria-hidden="true"><div class="text">Messages</div></span>
        <span class="icon-spacing fa fa-user-plus" aria-hidden="true"><div class="text">Requests</div></span>
        <span class="icon-spacing fa fa-eye" aria-hidden="true"><div class="text">Watch Later</div></span>
        <span class="icon-spacing fa fa-pencil" aria-hidden="true"><div class="text">New Post</div></span>
        <span class="icon-spacing fa fa-exclamation" aria-hidden="true"><div class="text">Notifications</div></span>
        <span class="icon-spacing fa fa-search" aria-hidden="true"><div class="text">Search</div></span>
    </div>
</div>