<div class="side-nav-panel">
    <div><span class="icon-spacing-nav-bar fa fa-home" aria-hidden="true"><div class="text">Main Page</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-users" aria-hidden="true"><div class="text">Members</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-newspaper-o" aria-hidden="true"><div class="text">News</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-pencil-square" aria-hidden="true"><div class="text">Posts</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-shopping-cart" aria-hidden="true"><div class="text">Online Shop</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-music" aria-hidden="true"><div class="text">Music</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-calendar" aria-hidden="true"><div class="text">Events</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-film" aria-hidden="true"><div class="text">Videos</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-language" aria-hidden="true"><div class="text">Kurdish Language</div></span></div>
    <div><span class="icon-spacing-nav-bar glyphicon glyphicon-modal-window" aria-hidden="true"><div class="text">Blogs</div></span></div>
    <div><span class="icon-spacing-nav-bar glyphicon glyphicon-check" aria-hidden="true"><div class="text">Vote</div></span></div>
    <div><span class="icon-spacing-nav-bar glyphicon glyphicon-fire" aria-hidden="true"><div class="text">Trouble Box</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-heart" aria-hidden="true"><div class="text">Regards</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-money" aria-hidden="true"><div class="text">Donations</div></span></div>
    <div><span class="icon-spacing-nav-bar fa fa-television" aria-hidden="true"><div class="text">TV channel</div></span></div>
</div>